body {
    background-color: #79ade4;
}
header {
    background-color: white;
    height: 100px;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
a {
    text-decoration: none;
    color:black;
    cursor: pointer;
}

/* HEADER */
.cabecalho-home{
    display: flex;
    list-style: none;
    padding: auto;
    justify-content: center;
}
.menu-navegacao {
    display: flex;
    align-items: center;
}
.logo-cabecalho--img{
    padding-top: 15px;
    width: 110px;
}
.menu-navegacao--titulos {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}
.menu-navegacao--titulos .teste {
    position: relative;
    display: inline-block;
}
.menu-navegacao--titulos a:hover,
.menu-navegacao--login a:hover,
.menu-navegacao--cadastro a:hover {
    color: #035397;
}
.logo-acessibilidade {
    margin: auto 40px;
}
.logo-cabecalho--acessibilidade{
    width: 110px;
}
.logo-usuario {
    padding-right: 10px;
}
.menu-navegacao--login, .menu-navegacao--cadastro {
    display: block;
    font-weight: bold;
}
.menu-navegacao--ou {
    font-size: 15px;
    padding: 7px;
}

/* DROPDOWN EMPREENDIMENTOS */
.drop-empreendimentos {
    background-color: #035297f5;
    position: absolute;
    padding: 15px;
    top: 63px;
    z-index: 1;
    border-radius: 20px;
    display: none;
}
.drop-empreendimentos li {
    text-align: center;
    line-height: 30px;
}
.drop-empreendimentos li a {
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.drop-empreendimentos li a:hover {
    color: white;
    text-decoration: underline;
}
.drop:hover .drop-empreendimentos{
    display: block;
}

/* DROPDOWN DE ACESSIBILIDADE */
.drop-acessibilidade {
    background-color: #035297f5;
    font-family: 'Lato', sans-serif;
    position: absolute;
    padding: 15px 10px;
    top: 95px;
    z-index: 2;
    border-radius: 20px;
    display: none;
}
.drop-acessibilidade li {
    text-align: center;
    line-height: 30px;
}
.drop-acessibilidade li a {
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.drop-acessibilidade li a:hover {
    color: white;
    text-decoration: underline;
}
.drop:hover .drop-acessibilidade{
    display: block;
}

/* MAIN */
.area-artigos {
    width: 90%;
    margin: 30px 5% 20px 5%;
    background-color: rgba(255, 255, 255, 0.836);
    height: auto;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
}
.titulo-artigos {
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 5px 7px 10px #00000073; 
}
.subtitulo-artigos1,
.subtitulo-artigos2 {
    padding: 40px 0 0 155px;
    font-size: 35px;
    color: #05244D;
    font-weight: bolder;
    text-transform: uppercase;
}
.subtitulo-artigos2 {
    margin-top: 40px;
}
.sobre-acessibilidade, .sobre-negocios {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
}
.card-artigo {
    background-color: white;
    width: 90%;
    margin: 10px auto 30px auto;
    border-radius: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.856); */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}
.artigo-titulo-artigo {
    padding: 15px 15px 10px 15px;
    font-size: 18px;
    font-weight: bolder;
}
.texto {
    padding: 0px 15px 0px 40px;
    font-size: 16px;
    line-height: 25px;
    display: none;
    text-align: justify;
}
.resumo {
    padding: 0px 15px 0px 40px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}
.texto, .resumo {
    text-align: justify;
}
.texto a:not(.download) {
    color: #041a36;
}
.download {
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
}
.download:hover {
    color: #062064;
}
strong {
    font-weight: 700;
}
.button-artigos {
    margin: 15px auto 20px 15px;
    padding: 5px 8px;
    box-shadow: none;
    border: none;
    background-color: #FFBD59;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}
.avaliacao {
    margin-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
}
.infos-uteis {
    text-align: center;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
#like {
    font-size: 40px;
    padding: 0 15px 10px;
}
#dislike {
    font-size: 40px;
    transform: scaleX(-1);
    padding: 0 15px 10px;
}
#dislike a, 
#like a {
    color: #001e6c;
}
#like a:hover{
    color: #3DBD5F;
}
#dislike a:hover{
    color: #CB1111;
}

/* ÁREA DO MODAL DE TERMOS */
/* BACKGROUND MODAL */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 50px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid #888;
    width: 80%;
}
  
/*  BOTAO UP */
.botao-up {
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 80px;
    width: 80px;
    transition: ease-in 0.2s;
    border-radius: 100%;
    color: #ffaa4c;
}
.fa-chevron-circle-up {
    font-size: 48px;
}
.botao-up:hover {
    text-shadow: 0px 0px 12px #035397;
}
/* FIM DO CSS DO BOTÃO */

/* BOTÃO DE FECHAR */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
  
/* ANIMAÇÃO DE ZOOM */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* TABELA DE TERMOS DE SERVIÇO */
.popup-termos--servicos {
    font-family: 'Lato', sans-serif;
    height: 420px;
    background-color: white;
    border: 8px solid #001e6c;
    padding: 20px;
    width: 60%;
    margin: auto;
}
.popup-termos--servicos h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
.conteudo-termos--servicos {
    height: 288px;
    width: 90%;
    margin: 20px auto;
    overflow-y: scroll;
    line-height: 23px;
    padding: 5px 0;
}
.conteudo-termos--servicos p {
    width: 99%;
    font-size: 14px;
}
.conteudo-termos--servicos h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
.aviso-termos--servico {
    color: white;
    background-color: #031b57;
    padding: 8px 5px;
    text-align: center;
    font-size: 13px;
}

/* EDIÇÃO DA BARRA DE ROLAGEM INTERNA */
/* largura */
.conteudo-termos--servicos::-webkit-scrollbar {
    width: 13px;
}
/* barra */
.conteudo-termos--servicos::-webkit-scrollbar-track {
    background: #e4e3e3; 
}
/* movimento */
.conteudo-termos--servicos::-webkit-scrollbar-thumb {
    background: #001e6c; 
}

/* ÁREA DO MODAL DE PRIVACIDADE */
/* BACKGROUND MODAL */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 50px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
}
  
/* BOTÃO DE FECHAR */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
  
/* ANIMAÇÃO DE ZOOM */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* TABELA DE TERMOS */
.popup-termos--privacidade {
    font-family: 'Lato', sans-serif;
    height: 420px;
    background-color: white;
    border: 8px solid #001e6c;
    padding: 20px;
    width: 60%;
    margin: auto;
}
.popup-termos--privacidade h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
.conteudo-termos--privacidade {
    height: 288px;
    width: 90%;
    margin: 20px auto;
    overflow-y: scroll;
    line-height: 23px;
    padding: 5px 0;
}
.conteudo-termos--privacidade p {
    width: 99%;
    font-size: 14px;
}
.conteudo-termos--privacidade h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
.aviso-termos--privacidade {
    color: white;
    background-color: #031b57;
    padding: 8px 5px;
    text-align: center;
    font-size: 13px;
}

/* EDIÇÃO DA BARRA DE ROLAGEM INTERNA */
/* largura */
.conteudo-termos--privacidade::-webkit-scrollbar {
    width: 13px;
}
/* barra */
.conteudo-termos--privacidade::-webkit-scrollbar-track {
    background: #e4e3e3; 
}
/* movimento */
.conteudo-termos--privacidade::-webkit-scrollbar-thumb {
    background: #001e6c; 
}

/* LIKE/DESLIKE */
.feedback-artigos{
    text-align: center;
}
.feedback-arigos-icons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#like-icon{
    font-size: 40px;
    color: #001e6c;
}
#deslike-icon{
    font-size: 40px;
    color: #001e6c;
    transform:scaleX(-1)
}
#like-icon a{
    color: #001e6c;
    padding: 0 15px 10px;
}
#deslike-icon a{
    color: #001e6c;
    padding: 0 15px 10px;
}
#like-icon a:hover{
    color: #3DBD5F;
}
#deslike-icon a:hover{
    color: #CB1111;
}

/* FOOTER */
.img-onda--footer {
    width: 100%;
    margin-bottom: 0;
    vertical-align: middle;
}
#rodape {
    background-color: white;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
.rodape-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 5%;
    padding-top: 15px;
}

/* TERMOS */
.container-footer--1 ul li a {
    font-size: 20px;
    line-height: 28px;
}
.container-footer--1 ul li a:hover {
    font-size: 19.5px;
    color: #035397;
    font-weight: 700;
}

/* REDES SOCIAIS */
.container-footer--2 {
    text-align: center;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}
.container-footer--2 i {
    padding: 0 7px 4px;
}
.fa-facebook {
    font-size: 40px;
    color: #4267B2;
}
.fa-instagram-square {
    font-size: 40px;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
.fa-linkedin {
    font-size: 40px;
    color: #0e76a8;
}

/* ÁREA DE ATENDIMENTO */
.container-footer--3 {
    text-align: center;
    line-height: 21px;
}
.container-footer--3 i {
    padding: 0 7px 4px;
}
.container-footer--3 a {
    font-weight: 700;
}
.container-footer--3 a:hover {
    color: #035397;
}
.fa-whatsapp-square {
    font-size: 40px;
    color: #34af23;
}
.fa-telegram {
    font-size: 40px;
    color: #0088cc;
}

/* COPYRTT */
#rodape .direitos-autorais {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}